html, body{
    height: 100%;
    width: 100%;
    font-family: Helvetica, sans-serif;
    background-color: black;
}
.header-container {
    mix-blend-mode: difference;
    overflow: hidden;
}
.header-container-side {
    mix-blend-mode: difference;
    overflow: hidden;
}
.header-scroll {
    mix-blend-mode: difference;
    color: gold;
    font-size: 400%;
    margin: 0;
    white-space: nowrap;
}
.grid-container {
    display: grid;
    height: 100%;
    width: 100%;
    gap: -10%;
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: 10% 10% 70% 10%;
}

.nav {
    grid-column: 2;
    grid-row: 2;
    mix-blend-mode: difference;
    overflow: visible;
    color: black;
    background-color: gold;
    animation-name: backColorReverse;
    animation-duration: 4s;
}
.navButton{
    transition: 1s;
    display: block;
    padding: 20px 0px;
    width: 100px;
    text-align: center;
    font-size: 200%;
    color:black;
    rotate: -45deg;
    text-decoration-line: none;
}
.navButton:link{
    color:black;
}
.navButton:visited{
    color:black;
    text-decoration-line: none;
}
.navButton:hover{
    background-color: black;
    color:gold;
    rotate: 0deg;
}
.mainBody {
    grid-column: 3;
    grid-row: 2;
    mix-blend-mode: difference;
    text-align: center;
    background-color: black;
    color: gold;
    position: relative;
    animation-name: backColor;
    animation-duration: 4s;
}
@keyframes backColor{
    0%   { color: black;}
    100% { color: gold;}
}
@keyframes backColorReverse{
    0%   {background-color: black; transform: translateY(-100%);}
    100% {background-color: gold; transform: translateY(0); }               
}
@keyframes marquee{
    0% {    transform: translateX(0);  }
    100% {     transform: translateX(-100%);  }
}
@keyframes marqueeVert{
    0% {    transform: translateY(100%);  }
    100% {     transform: translateY(0);  }
}