html,
body {
    height: 99%;
    width: 99%;
    font-family: "Noto Sans", sans-serif;
    background-color: #232323;
}

.header-container-top {
    overflow: hidden;

    height: clamp(10px, 8vw, 400px);
    align-content: center;
}

.header-container-bottom {
    overflow: hidden;

    height: clamp(10px, 8vw, 400px);
    align-content: center;
}

.header-container-side {
    overflow: hidden;

    width: 7vw;
}

.header-scroll {
    font-family: Nabla, Astloch, Helvetica, sans-serif;
    font-size: clamp(10px, 6vw, 400px);
    margin: 0;
    white-space: nowrap;
}

.grid-container {
    display: grid;
    gap: -10%;
    grid-auto-rows: auto;
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: 10% 10% 70% 10%;
    align-content: start;
}

a:link {
    color: inherit;
    text-decoration-line: underline;
}

a:hover {
    text-decoration-line: none;
}

a:visited {
    color: inherit;
    text-decoration-line: none;
}

.nav {
    font-family: Megrim, Helvetica, sans-serif;
    align-content: center;
    border-radius: 5px;
    grid-column: 2;
    grid-row: 2 / 3;
    width: clamp(60px, 10vw, 120px);
    mix-blend-mode: difference;
    color: inherit;
    background-color: #FFBB00;

}

.navButton {
    margin-top: 10%;
    transition: 0.8s;
    display: table;
    width: clamp(60px, 10vw, 120px);
    overflow: scroll;
    text-align: center;
    font-weight: bold;
    font-size: clamp(8px, 1.5vw, 18px);
    color: inherit;
    text-decoration-line: none;
}

.navButton:link {
    text-decoration-line: none;
}

.navButton:visited {
    text-decoration-line: none;
}

.navButton:hover {
    letter-spacing: 0.5px;
}

.mainBody {
    width: clamp(80px, 60vw, 700px);
    grid-column: 3;
    grid-row: 2;
    text-align: center;
    margin-left: 5%;
    background-color: inherit;
    font-size: clamp(6px, 2.5vw, 16px);
    font-weight: bold;
    color: #FFBB00;
    animation-name: backColor;
    animation-duration: 4s;
}

.download-table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    table-layout: fixed;
    border: 3px solid #FFBB00;
    color: inherit;
    animation-name: backColor;
    animation-duration: 4s;
}

td {
    border: 1px solid #FFBB00;
}

@keyframes backColor {
    0% {
        color: #0f0d07;
        transform: translateY(10%);
    }

    100% {
        color: #FFBB00;
        transform: translateY(0);
    }
}

@keyframes backColorReverse {
    0% {
        background-color: #0f0d07;
        transform: translateY(-10%);
    }

    100% {
        background-color: #FFBB00;
        transform: translateY(0);
    }
}

@keyframes backColorTransitionSide {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }

    100% {
        opacity: 100;
        transform: translateX(0);
    }
}

@keyframes backColorTransitionTop {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }

    100% {
        opacity: 100;
        transform: translatY(100%);
    }
}

@keyframes backColorTransitionBottom {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 100;
        transform: translatY(-100%);
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes marqueeVert {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}