---
const pageTitle = "MKOUSSA |";
import '../styles/global.css';
import Header from '../components/header.astro';
import Nav from '../components/nav.astro';
import LeftScroll from '../components/leftScroll.astro';
import RightScroll from '../components/rightScroll.astro';
import Footer from '../components/footer.astro';
---


<html lang="en">
    <head>
        <title>{pageTitle} About</title>
    </head>
    </body>
            <div class="grid-container">
            <Header />
                <LeftScroll />
                <Nav />
                <div class="mainBody">
                    <h1>About MKoussa</h1>
                    <p>Developer, Musician.</p>                 
                </div>
                <RightScroll />
            <Footer />
        </div>
</html>