---
const pageTitle = "MKOUSSA |";
import '../styles/global.css';
import Fonts from '../components/fonts.astro';
import Header from '../components/header.astro';
import Nav from '../components/nav.astro';
import LeftScroll from '../components/leftScroll.astro';
import RightScroll from '../components/rightScroll.astro';
import Footer from '../components/footer.astro';
---
<html lang="en">
    <head>
        <Fonts />
        <title>{pageTitle} Blog</title>
    </head>
    <body>
        <div class="grid-container">
            <Header />
                <LeftScroll />
                <Nav />
                <div class="mainBody">
                    <ul>
                        <li><a href="/posts/post-1/">Post 1</a></li>
                    </ul>
                </div>
                <RightScroll />
            <Footer />
        </div>
    </body>
</html>