---
const pageTitle = "MKOUSSA |";
import '../styles/global.css';
---
<html lang="en">
    <head>
        <title>{pageTitle} Blog</title>
    </head>
    <body>
        <h1 class="header" style="animation: marquee 100s linear infinite;">MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA</h1>

        <div class="grid-container">
            <div class="nav">
                <a class="navButton" href="/">Home</a><br>
                <a class="navButton" href="/about/">About</a><br>
                <a class="navButton" href="/blog/">Blog</a><br>
                <a class="navButton" href="/nts-1/">NTS-1</a><br>
                <a class="navButton" href="/blorp/">Blorp</a><br>
            </div>
            <div class="mainBody">
                <ul>
                    <li><a href="/posts/post-1/">Post 1</a></li>
                </ul>
            </div>
        </div>
        <h1 class="header" style="animation: marquee 100s linear infinite; rotate: 180deg;">MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA</h1>
    </body>
</html>