---
const pageTitle = "MKOUSSA |";
import '../styles/global.css';
import Fonts from '../components/fonts.astro';
import Header from '../components/header.astro';
import Nav from '../components/nav.astro';
import LeftScroll from '../components/leftScroll.astro';
import RightScroll from '../components/rightScroll.astro';
import Footer from '../components/footer.astro';
---
<html lang="en">
    <head>
        <Fonts />
        <title>{pageTitle} Blorp</title>
    </head>
    <body>
        <div class="grid-container">
            <Header />
                <LeftScroll />
                <Nav />
                <div class="mainBody">
                    <h1>Blorp</h1>
                    <p>Browser based synthesizers using the p5 Library.</p>
                    <div id='blorp'>
                    
                    <iframe src="/blorpSynth/" height="100%" width="100%" sandbox="allow-forms allow-modals allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-top-navigation-by-user-activation allow-downloads allow-presentation"/>

                    </div>
                </div>
                <RightScroll />
            <Footer />
        </div>
    </body>
</html>