---
const pageTitle = "MKOUSSA |";
import '../styles/global.css';
import Fonts from '../components/fonts.astro';
import Header from '../components/header.astro';
import Nav from '../components/nav.astro';
import LeftScroll from '../components/leftScroll.astro';
import RightScroll from '../components/rightScroll.astro';
import Footer from '../components/footer.astro';
---
<html lang="en">
    <head>
        <Fonts />
        <title>{pageTitle} Effects</title>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    </head>
    <body>
        <div class="grid-container">
            <Header />
            <LeftScroll />
            <Nav />
            <div class="mainBody">
                <h1>Korg Logue Effects</h1>
                <p>I currently only have the NTS-1, so YMMV with these effects.<br>If you encounter any issues, let me know and I can try my best to resolve them!</p>
                <h2><a href="/stuttermodfx/">Stutter Mod Effect</a></h2>
                <p>Records a short audio sample and repeats it up to 50 times.</p>
                <h2><a href="/reverseechodelayfx/">Reverse Echo Delay Effect</a></h2>
                <p>Echos reversed audio input</p>
            </div>
            <RightScroll />
            <Footer />
        </div>
    </body>
</html>