---
const pageTitle = "MKOUSSA |";
import '../styles/global.css';
import Fonts from '../components/fonts.astro';
import Header from '../components/header.astro';
import Nav from '../components/nav.astro';
import LeftScroll from '../components/leftScroll.astro';
import RightScroll from '../components/rightScroll.astro';
import Footer from '../components/footer.astro';
---
<html lang="en">
    <head>
        <Fonts />

        <title>{pageTitle} Home</title>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    </head>
    <body>
        <div class="grid-container">
            <Header />
                <LeftScroll />
                <Nav />
                <div class="mainBody">
                    <h1>Welcome, Friend</h1>
                    <p>A space for my Korg NTS-1 FX/OSC</p>
                    <p>Built with Astro.</p>
                    <h2>Site Map</h2>
                    <h3><a href="/nts-1/">NTS-1</a></h3>
                    <p>Precompiled file downloads and Github links.</p>
                    <h3><a href="/resources/">Resources</a></h3>
                    <p>Helpful links for coding the Korg NTS-1.</p>
                    <h3><a href="/blog/">Blog</a></h3>
                    <p>Maybe... TBD.</p>
                    <h3><a href="/music/">Music</a></h3>
                    <p>Check out my bandcamp!</p>
                    <h3><a href="/blorp/">Blorp</a></h3>
                    <p>Browser Based Synthesizer using the p5 JS Library.</p>

                </div>
                <RightScroll />
            <Footer />
        </div>
    </body>
</html>