---
const pageTitle = "MKOUSSA |";
import '../styles/global.css';
import Fonts from '../components/fonts.astro';
import Header from '../components/header.astro';
import Nav from '../components/nav.astro';
import LeftScroll from '../components/leftScroll.astro';
import RightScroll from '../components/rightScroll.astro';
import Footer from '../components/footer.astro';
---
<html lang="en">
    <head>
        <Fonts />

        <title>{pageTitle} Home</title>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    </head>
    <body>
        <div class="grid-container">
            <Header />
                <LeftScroll />
                <Nav />
                <div class="mainBody">
                    <h1>Welcome, <i>Friend</i></h1>
                    <p><i>Currently working on: NTS-1 Reverb FX</i></p>
                    <h3>Effects</h3>
                    <p><a href="/effects/">Precompiled file downloads and Github links to Logue-SDK Effects.</a></p>
                    <h3>Oscillators</h3>
                    <p><a href="/oscillators/">Coming Soon...</a></p>
                    <h3>Resources</h3>
                    <p><a href="/resources/">Helpful links for coding the Korg NTS-1 (and DSP in general).</a></p>
                    <h3>Music</a></h3>
                    <p><a href="/music/">MKoussa on bandcamp</a></p>
                    <h3>Blorp</h3>
                    <p><a href="/blorp/">Browser Based Synthesizer using the p5 JS Library.</a></p>

                </div>
                <RightScroll />
            <Footer />
        </div>
    </body>
</html>