---
const pageTitle = "MKOUSSA |";
import '../styles/global.css';
import Fonts from '../components/fonts.astro';
import Header from '../components/header.astro';
import Nav from '../components/nav.astro';
import LeftScroll from '../components/leftScroll.astro';
import RightScroll from '../components/rightScroll.astro';
import Footer from '../components/footer.astro';
---
<html lang="en">
    <head>
        <Fonts />
        <title>{pageTitle} Music</title>
    </head>
    <body>
        <div class="grid-container">
            <Header />
                <LeftScroll />
                <Nav />
                <div class="mainBody">
                    <h1>Music</h1>
                    <h2>Rise (2019)</h2>
                    <iframe style="border: 0; width: 30vw; height: 30vw;" src="https://bandcamp.com/EmbeddedPlayer/album=3490434269/size=large/bgcol=333333/linkcol=e99708/tracklist=true/transparent=true/" seamless><a href="https://mkoussa.bandcamp.com/album/rise">Rise by MKoussa</a></iframe>
                    <h2>Intro//Birth (2013)</h2>
                    <iframe style="border: 0; width: 30vw; height: 30vw;" src="https://bandcamp.com/EmbeddedPlayer/album=949237618/size=large/bgcol=333333/linkcol=e99708/tracklist=true/transparent=true/" seamless><a href="https://mkoussa.bandcamp.com/album/intro-birth">Intro//Birth by MKoussa</a></iframe>
                </div>
                <RightScroll />
            <Footer />
        </div>
    </body>
</html>