---
const pageTitle = "MKOUSSA |";
import '../styles/global.css';
---
<html lang="en">
    <head>
        <title>{pageTitle} NTS-1</title>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    </head>
    <body>
        <h1 class="header" style="animation: marquee 100s linear infinite;">MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA</h1>
        <div class="grid-container">
            <div class="nav">
                <a class="navButton" href="/">Home</a><br>
                <a class="navButton" href="/about/">About</a><br>
                <a class="navButton" href="/blog/">Blog</a><br>
                <a class="navButton" href="/nts-1/">NTS-1</a><br>
                <a class="navButton" href="/blorp/">Blorp</a><br>
            </div>
            <div class="mainBody">
                <h1>Korg NTS-1 Development</h1>
                <p>This Mod FX samples a loop of up to 0.001953125 ms, set by the Time knob, and repeats the loops up to 50 times, set by the Depth knob. </p></br>
                <p>Download Stutter FX:  </p></br>
                <a href="/NTKDIGUNIT/Stutter/V2/stutter.ntkdigunit" download>Latest Version: stutter.ntkdigunit</a> </br>
                <a href="/NTKDIGUNIT/Stutter/V1/stutter.ntkdigunit" download>Version 1: stutter.ntkdigunit</a> </br>
            </div>
        </div>
        <h1 class="header" style="animation: marquee 100s linear infinite; rotate: 180deg;">MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA MKOUSSA</h1>
    </body>
</html>