---
const pageTitle = "MKOUSSA |";
import '../styles/global.css';
import Fonts from '../components/fonts.astro';
import Header from '../components/header.astro';
import Nav from '../components/nav.astro';
import LeftScroll from '../components/leftScroll.astro';
import RightScroll from '../components/rightScroll.astro';
import Footer from '../components/footer.astro';
---
<html lang="en">
    <head>
        <Fonts />
        <title>{pageTitle} Oscillators</title>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    </head>
    <body>
        <div class="grid-container">
            <Header />
            <LeftScroll />
            <Nav />
            <div class="mainBody">
                <h1>Korg Logue Oscillators</h1>
                <h2>Coming Soon...</h2>
                <p>There's a lot of math I need to learn first, lol</p>
            </div>
            <RightScroll />
            <Footer />
        </div>
    </body>
</html>